.intro-text {
  display: flex;
  width: 546px;
  height: 340px;
  padding: 75px 35px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 60px;
  background: rgba(255, 249, 240, 0.8);
  position: relative;
  justify-content: center;
  animation: float 3s ease-in-out infinite;
}

/* Animation */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* monte un peu */
  }
  100% {
    transform: translateY(0); /* redescend */
  }
}

.intro-title {
  align-self: stretch;
  color: var(--brun-satur-mais-pas-trop, #7b453b);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.intro-title:hover {
  animation: wiggle 0.4s ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.intro-explained {
  color: var(--brun-satur-mais-pas-trop, #7b453b);
  text-align: center;

  /* texte mini mini titre */
  font-size: 16px;
  font-weight: 500;
}

.intro {
  background-image: url(../imagesProjets/Artfight/vole.gif);
  background-size: cover;
  border-radius: 30px;
  height: 761px;
  display: flex;
  justify-content: center;
  margin-top: auto;
  align-items: center;
  position: relative;
  margin: 94px 0;
}

.intro-opacity {
  border-radius: 30px;
  background: var(--Blanc-transparent, rgba(255, 255, 255, 0.52));
  filter: blur(3.049999952316284px);
  position: absolute;
  inset: 0;
}

.intro-stars {
  position: absolute;
  top: -13px;
  right: -9px;
  animation: float-stars 4s ease-in-out infinite;
}

.intro-stars-two {
  position: absolute;
  bottom: -22px;
  left: -17px;
  animation: float-stars-two 4s ease-in-out 1s infinite;
}

/* Animation stars */
@keyframes float-stars {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-13px); /* monte un peu */
  }
  100% {
    transform: translateY(0); /* redescend */
  }
}

/* Animation stars */
@keyframes float-stars-two {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-13px); /* monte un peu */
  }
  100% {
    transform: translateY(0); /* redescend */
  }
}
