.project-detail-text {
  display: flex;
  width: 452px;
  height: 246px;
  padding: 84px 16px 65px 16px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  border-top: 2px solid var(--Brun-caramel, #d8a286);
  border-right: 2px solid var(--Brun-caramel, #d8a286);
  border-bottom: 5px solid var(--Brun-caramel, #d8a286);
  border-left: 2px solid var(--Brun-caramel, #d8a286);
  background: var(--Vanille, #f8e6d0);
}

.project-detail-title {
  border-radius: 30px 30px 0px 0px;
  background: var(--Brun-caramel, #d8a286);
  width: 452px;
}
