.titles {
  display: flex;
  align-items: center;
  gap: 30px;
  align-self: stretch;
  margin-top: 155px;
}

.titles-line {
  width: 835px;
  height: 2px;
  background: #d8a286;
  margin-bottom: 115px;
}

.title-star {
  transition: transform 0.2s;
}

.title-star:hover {
  transform: rotate(180deg);
}
